---
layout: default
title: home
---

.m-hero
  %h1.m-hero-header.m-hero-header--home What do you want to talk about?

%section.a-section
  .a-content.a-content-top--spacious
    .m-blog
      {% for post in site.posts limit:5 %}
      .m-blog__post
        %a.m-blog__title{href: "{{ post.url | prepend: site.baseurl }}"}
          %h1 {{ post.title }}
        .m-blog__meta
          %span.m-blog__date
            %i.fa.fa-clock-o
            {{ post.date | date: "%b %-d, %Y" }}
          %span.m-blog__author
            %i.fa.fa-user-circle-o
            {{ post.author }}
        .m-blog__excerpt
          {{ post.excerpt }}
      {% endfor %}
