---
layout: learn
title: Learn to Code
permalink: /learn/
---

-# We need a menu for all our categories that we can put in the learn layout so it appears at the top of every learning page.

-# Likewise if we end up breaking down the categories into more pages, we'd need a menu for each of those, but this will be complex and will take some design/planning
