---
layout: default
title: Members
permalink: /members/
---

.m-hero.m-hero--members
  %h1.m-hero-header.m-hero-header--members We are West London Coders

%section.a-section
  .a-content.a-content-top--spacious
    .m-members

      .m-member
        .m-member__badge
          %img.m-member__avatar{src: "/img/members/steve.jpg"}
          %h1 Steve Brewer
          %a{href: "https://futurelearn.com", target: "__blank"}
            %img.m-member__logo{src: "/img/members/futurelearn.svg"}
        .a-social-links
          %a{:href => "http://stevebrewer.uk", :target => "_blank", title: "Meetup"}
            %i.fa.fa-globe
          %a{:href => "https://www.meetup.com/West-London-Coders/members/202775078/", :target => "_blank", title: "Meetup"}
            %i.fa.fa-meetup
          %a{:href => "https://github.com/svpersteve", :target => "_blank", title: "GitHub"}
            %i.fa.fa-github
          %a{:href => "https://twitter.com/svpersteve", :target => "_blank", title: "Twitter"}
            %i.fa.fa-twitter
          %a{:href => "https://www.facebook.com/svb12345", :target => "_blank", title: "Facebook"}
            %i.fa.fa-facebook-official
          %a{:href => "https://instagram.com/svpersteve", :target => "_blank", title: "Instagram"}
            %i.fa.fa-instagram
        .m-member__skills
          %span.m-member__skill--html HTML
          %span.m-member__skill--css CSS
          %span.m-member__skill--js JavaScript

      .m-member
        .m-member__badge
          %img.m-member__avatar{src: "/img/members/jerome.jpg"}
          %h1 Jerome Clarke
          %a{href: "https://futurelearn.com", target: "__blank"}
            %img.m-member__logo{src: "/img/members/futurelearn.svg"}
        .a-social-links
          %a{:href => "http://stevebrewer.uk", :target => "_blank", title: "Meetup"}
            %i.fa.fa-globe
          %a{:href => "https://www.meetup.com/West-London-Coders/members/202775078/", :target => "_blank", title: "Meetup"}
            %i.fa.fa-meetup
          %a{:href => "https://github.com/svpersteve", :target => "_blank", title: "GitHub"}
            %i.fa.fa-github
          %a{:href => "https://twitter.com/svpersteve", :target => "_blank", title: "Twitter"}
            %i.fa.fa-twitter
          %a{:href => "https://www.facebook.com/svb12345", :target => "_blank", title: "Facebook"}
            %i.fa.fa-facebook-official
          %a{:href => "https://instagram.com/svpersteve", :target => "_blank", title: "Instagram"}
            %i.fa.fa-instagram
        .m-member__skills
          %span.m-member__skill--html HTML
          %span.m-member__skill--css CSS
          %span.m-member__skill--js JavaScript
