* {
    box-sizing: border-box;
}

img {
  height: 120px;
}

.content {
  margin: 1% 5%;
}

li {
  width: 50%;
}

#disqus_thread {
  margin: 40px auto;
}

.homebtn{
  bottom: 15px;
  right: 15px;
  position: fixed;
  color: $color-blue;
}
