$body-font: 'Roboto', sans-serif;
$logo-font: 'Roboto', sans-serif;
$nav-font: 'Roboto', sans-serif;
$banner-font: 'Roboto', sans-serif;

@mixin link-underline {

  border-bottom: 3px solid $color-pink;
}

body {
  line-height: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-blue;
}

a:hover {
  @include link-underline;
}
