<header>
  <div class="m-navbar">
      <a class="pink-hover" href="/">
      <h1>West London Coders</h1></a>
      <a href="https://westlondoncoders.herokuapp.com/" target="_blank">
      <h2><i class="fa fa-slack" aria-hidden="true"></i> Slack</h2></a>
      <a href="http://meetu.ps/c/2KPMg/wK6MK/f" target="_blank">
      <h2><i class="fa fa-glass" aria-hidden="true"></i> Meetup</h2></a>
      <a href="https://github.com/WestLondonCoders" target="_blank">
      <h2><i class="fa fa-github" aria-hidden="true"></i> Github</h2></a>
      <a href="{{ "/getstarted" | prepend: site.baseurl }}">
      <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Learn</h2></a>
  </div>
</header>
