%header
  .m-navbar
    %h1.m-navbar__logo
      %a{href: '/'}
        West London Coders
    .m-navbar__nav
      %h2
        %a{href: "/getstarted"}
          %i.fa.fa-graduation-cap{"aria-hidden" => "true"}
          Learn
      %h2
        %a{href: "/"}
          %i.fa.fa-graduation-cap{"aria-hidden" => "true"}
          People
      %h2
        %a{href: "/"}
          %i.fa.fa-graduation-cap{"aria-hidden" => "true"}
          About
  .a-social-links--right
    {% haml social_links.haml %}
