%header
  .m-navbar
    %a.pink-hover{href: '/'}
      %h1 West London Coders
    %a{href: "https://westlondoncoders.herokuapp.com/", target: '_blank'}
      %h2
        %i.fa.fa-slack{"aria-hidden" => "true"}
        Slack
    %a{href: "http://meetu.ps/c/2KPMg/wK6MK/f", target: "_blank"}
      %h2
        %i.fa.fa-glass{"aria-hidden" => "true"}
        Meetup
    %a{href: "https://github.com/WestLondonCoders", target: "_blank"}
      %h2
        %i.fa.fa-github{"aria-hidden" => "true"}
        Github
    %a{href: "/get-started"}
      %h2
        %i.fa.fa-graduation-cap{"aria-hidden" => "true"}
        Learn

