---
layout: learn
permalink: /learn/git
---

%section.a-section
  .a-content
    %h1 Git
    %ul
      %li
        %a{:href => "https://www.atlassian.com/git/tutorials/"} Atlassian git tutorial
      %li
        %a{:href => "https://git-scm.com/docs/gittutorial"} Official git tutorial
      %li
        %a{:href => "http://rogerdudler.github.io/git-guide/"} A minimalistic git guide
      %li
        %a{:href => "https://www.youtube.com/watch?v=1ffBJ4sVUb4"} Git for ages 4 and up (YT video)
      %li
        %a{:href => "https://github.com/Gazler/githug"} Githug on github
