---
layout: learn
permalink: /learn/html-css
---

%section.a-section
  .a-content
    %h1 HTML
    %ul
      %li
        %a{:href => "https://www.codecademy.com/"} Codecademy
      %li
        %a{:href => "https://en.wikipedia.org/wiki/HTML"} Wikipedia's HTML article
      %li
        %a{:href => "https://developer.mozilla.org/en-US/docs/Web/HTML"} MDN HTML documentation
      %li
        %a{:href => "http://htmldog.com/guides/html/beginner/"} Beginner HTML tutorial by htmldog

%section.a-section
  .a-content
    %h1 CSS
    %ul
      %li
        %a{:href => "http://www.flexboxdefense.com/"} Flexbox defense
      %li
        %a{:href => "http://flexboxfroggy.com/"} Flexbox froggy
      %li
        %a{:href => "https://flukeout.github.io/"} CSS Diner
      %li
        %a{:href => "https://css-tricks.com/"} A blog about CSS and much more!
