---
layout: learn
permalink: /learn/javascript
---

%section.a-section
  .a-content
    %h1 Javascript
    %ul
      %li
        %a{:href => "https://developer.mozilla.org/en-US/docs/Web/JavaScript"} MDN JavaScript
      %li
        %a{:href => "https://en.wikipedia.org/wiki/JavaScript"} JavaScript on wikipedia
      %li
        %a{:href => "http://bonsaiden.github.io/JavaScript-Garden/"} JavaScript garden
      %li
        %a{:href => "http://eloquentjavascript.net/"} Eloquent JavaScript
      %li
        %a{:href => "https://github.com/getify/You-Dont-Know-JS"} You don't know JS series
