---
layout: learn
permalink: /learn/programming
---

%section.a-section
  .a-content
    %h1 Programming basics
    %ul
      %li
        %a{:href => "https://en.wikipedia.org/wiki/Variable_(computer_science)"} Variables
      %li
        %a{:href => "https://en.wikipedia.org/wiki/Compiler"} Compiler
      %li
        %a{:href => "https://en.wikipedia.org/wiki/Programming_language"} Programming language
      %li
        %a{:href => "https://en.wikipedia.org/wiki/Programming_paradigm"} Programming paradigm
