.m-banner {
  display: flex;
    height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

    @media #{$brk-narrow} {
    
    padding: 0;
        
    }
    @media #{$brk-wide} {
    height: 100vh;
    padding: 0;
    }
  img {
    margin-top: 10px;
      @media #{$brk-narrow}{
          margin-top: 100%;
    }
  }
  h1 {
    font-family: $banner-font;
  }
  h2 {
    font-size: 1em;
  }
}

.m-banner--with-image {
  h1 {
    font-size: 2em;
    
  }
  @media #{$brk-wide} {
      
    padding: 50px 0;
  }
}

.m-banner--yellow {
  background: $color-yellow;
  color: $color-blue;
}

.m-banner--pink {
  background: $color-pink;
  color: $color-yellow;
  a {
    color: $color-blue;
  }
  a:hover {
    border-bottom: 3px solid $color-yellow;
  }
}
