// Bar itself, logo and nav items are its children

.m-navbar {
  display: flex;
  flex-direction: column;

  a {
    color: $color-dark-grey;
    padding-bottom: 2px;
  }

  @media #{$from-medium} {
    flex-direction: row;
    justify-content: space-around;
  }
}

.m-navbar__logo {
  text-align: center;

  @media #{$from-medium} {
    a:hover {
      @include link-fade;
    }
  }
}

.m-navbar__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

// Reset h2 margins to padding so the border wraps around space, not just h2
// content

  h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media #{$to-medium} {

    a:hover {
      @include link-fade;
      border: 0;
      color: $color-pink;
    }

    h2:hover {
      @include link-fade;
      color: $color-pink;
    }
    h2 {
      border-top: 1px solid $color-light-grey;
      width: 100%;
    }
    h2:last-child {
      border-bottom: 1px solid $color-light-grey;
    }
  }

  @media #{$from-medium} {
    width: 60%;
    flex-direction: row;
    justify-content: space-around;
  }
}
