.m-navbar {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  color: black;

  @media #{$brk-narrow} {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  @media #{$brk-wide} {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: $color-cream;
  }

  .pink-hover {
    border: none;
  }

  a.pink-hover:hover {
      color: $color-pink;
      transition: all 0.3s ease;
      border: none;
    }

  h1 {
    align-self: center;
    font-family: $logo-font;
    font-size: 1.5em;
    padding: 0;
    margin: 8px;

    @media #{$brk-narrow} {
      font-size: 1.5em;
    }

    @media #{$brk-wide} {
      font-size: 2em;
    }

  }

  h2 {
    font-family: $nav-font;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    @media #{$brk-narrow} {
      font-size: 1em;
      margin-right: 10px;
    }

    @media #{$brk-wide} {
      font-size: 1.4em;
      margin-bottom: -8px;
    }

  }
  a {
    color: black;
    text-align: left;
    border-bottom: 3px solid white;
    margin-right: 20px;

    @media #{$brk-narrow} {
      text-align: center;
    }
  }

  a:hover {
    border-bottom: 3px solid $color-pink;
  }
  i {
    color: $color-pink;
    @media #{$brk-narrow} {
      color: black;
    }
  }
}
